<launch>

  <!-- Port for the websocket bridge -->
  <arg name="websocket_port" default="9090"/>

  <!-- Port where site and other package resources will be served -->
  <arg name="packages_port" default="8001"/>

  <!--
    Path within each installed ROS package to serve.
    Recommended to use the package root,
    so resources like meshes are properly served
  -->
  <arg name="packages_path" default="/"/>

  <!-- Set to false to prevent republishing TF -->
  <arg name="tf" default="true"/>

  <!-- Websocket bridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="$(arg websocket_port)" />
  </include>

  <!-- Packages server -->
  <include file="$(find roswww)/launch/roswww.launch">
    <arg name="port" value="$(arg packages_port)" />
    <arg name="webpath" value="$(arg packages_path)" />
  </include>

  <!-- TF2 republisher -->
  <group if="$(arg tf)">
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" respawn="false" output="screen"/>
  </group>

</launch>
