<launch>

  <!-- Port for the websocket bridge -->
  <arg name="websocket_port" default="9090"/>

  <!-- Port where site and other package resources will be served -->
  <arg name="packages_port" default="8001"/>

  <!--
    Path within each installed ROS package to serve.
    Recommended to use the package root,
    so resources like meshes are properly served
  -->
  <arg name="packages_path" default="/"/>

  <!-- Set to false to prevent republishing TF -->
  <arg name="tf" default="true"/>

  <!-- Set to false if you don't want to use interactive markers. -->
  <arg name="interactive_markers" default="true"/>
  <!-- Target frame for interactive markers. -->
  <arg name="interactive_markers_target_frame" default="/base_link"/>
  <!-- Topic for interactive markers. -->
  <arg name="interactive_markers_topic" default="/basic_controls"/>

  <!-- Set to true if you want depth cloud support. -->
  <arg name="depth_cloud" default="false"/>
  <!-- Port for visualizing video streams. -->
  <arg name="video_port" default="9999"/>
  <!-- Depth image topic for depthcloud_encoder. -->
  <arg name="depth_topic" default="/camera/depth/image_raw"/>
  <!-- RGB image topic for depthcloud_encoder. -->
  <arg name="rgb_topic" default="/camera/rgb/image_raw"/>

  <!-- Configuration. -->
  <arg name="config_file" default="$(find rvizweb)/config/configuration.json"/>

  <param name="/rvizweb/global_config" type="str" textfile="$(arg config_file)"/>

  <!-- Websocket bridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="$(arg websocket_port)" />
  </include>

  <!-- Packages server -->
  <include file="$(find roswww)/launch/roswww.launch">
    <arg name="port" value="$(arg packages_port)" />
    <arg name="webpath" value="$(arg packages_path)" />
  </include>

  <!-- TF2 republisher -->
  <group if="$(arg tf)">
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" respawn="false" output="screen"/>
  </group>

  <!-- Interactive markers -->
  <group if="$(arg interactive_markers)">
    <node pkg="interactive_marker_proxy" type="proxy" name="interactive_marker_proxy">
      <remap from="target_frame" to="$(arg interactive_markers_target_frame)" />
      <remap from="topic_ns" to="$(arg interactive_markers_topic)" />
    </node>
  </group>

  <!-- Depth cloud -->
  <group if="$(arg depth_cloud)">
    <node pkg="web_video_server" type="web_video_server" name="web_video_server">
      <param name="type" value="vp8"/>
      <param name="port" value="$(arg video_port)"/>
    </node>
    <node pkg="depthcloud_encoder" type="depthcloud_encoder_node" name="depthcloud_encoder">
      <param name="depth" value="$(arg depth_topic)"/>
      <param name="rgb" value="$(arg rgb_topic)"/>
    </node>
  </group>

</launch>
